* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto', sans-serif;
}
.logo .logo_img {
    display: block;
    margin: 0 auto;
}
.promo {
    height: 800px;
    background:  url("/img/main.jpg") center center/cover no-repeat;
    padding: 39px 0 62px 0;
    display: flex;
    align-items: center;

}
.promo:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .65);
}

.logo .logo_text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}
h1{
    margin-top: 53px;
}
h2.title{
    margin-top: 30px;
}
.title{
    color: #f9bf3b;
    font-family: 'Roboto', sans-serif;
    font-size: 41px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}
.simple .title_big {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}
.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}
.promo .promo_text span{
    color: #f9bf3b;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.promo .promo_btn, .gift .gift_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0,0,0, 0.18);
    border: 4px solid rgba(0,0,0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}
.more {
    margin-top: 73px;
}
.more .more_text{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.service {
    height: 604px;
    width: 100%;
    background-color: #c7c6c6;
    padding: 85px 0 75px 0;
}
.service .service_header {
    color: #252525;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.service .service_item .service_card {
    display: flex;
    margin: 0 auto;
    width: 235px;
    height: 335px;
    border: solid;
    border-color: #252525;
    background-color: #c7c6c6;
    border-radius: 100px 100px 15px 15px;
}
.service .service_item {
    margin-top: 25px;
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
h1.service_title{
    padding-left: 76.5px;
    margin-top: 10px;
    max-width: 0px;
    max-height: 0px;
    font-weight: 400;
}
ul{
    text-align: start;
}
li::marker {
    color: #252525;
  }

.card {
    width: 285px;
    height: 375px;
    border-radius: 100px 100px 15px 15px;
    margin-left: 120px;
}

.card-header {
    text-align: center;
}
.btn {
    margin-top: 20px;
    text-align: center;
}
ul {
    margin-left: 10px;
}


